:root {
  --ifm-color-primary: #e66b2c; 
  --ifm-color-primary-dark: #c3561e;
  --ifm-color-primary-darker: #a04717;
  --ifm-color-primary-darkest: #7d3812;
  --ifm-color-primary-light: #f17639;
  --ifm-color-primary-lighter: #f6854b;
  --ifm-color-primary-lightest: #fba371;
  --ifm-background-color: #f5f2edd8;
  --ifm-background-surface-color: #f7f7f7d5;
}

[data-theme='dark'] {
  --ifm-color-primary: #f0722b;      
  --ifm-color-primary-dark: #cb5e22; 
  --ifm-color-primary-darker: #a74b1b;
  --ifm-color-primary-darkest: #843815;
  --ifm-color-primary-light: #f5823f; 
  --ifm-color-primary-lighter: #f89458;
  --ifm-color-primary-lightest: #fab176;
  --ifm-background-color: #1e1e1e; 
  --ifm-background-surface-color: #2a2a2a;
}